.App {
  text-align: center;
  width: 100%;
}

.formContainer{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgb(127, 140, 141);
}

label{
  text-align: start;
  margin-top: 0.5rem;
}

input{
  outline: none;
  border: 1px solid rgb(52, 73, 94);
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}

button{
  margin: 1rem 0;
   padding: 0.5rem;
   outline: none;
   cursor: pointer;
   border-radius: 0.2rem;
   border: 1px solid rgb(52, 73, 94);
   background-color: rgb(41, 128, 185);
   color: white;
}


.fileContainer{

}

.fileItem{
  width: 50%;
  margin: 1rem auto;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgb(127, 140, 141);
}

.userName{
  font-size: 1rem;
  font-weight: 600;
}

.fileName{
  font-size: 1rem;
  cursor: pointer;
  color: rgb(41, 128, 185);
}
